<div class='flex h-full'>
  <div class='w-1/5'>
    <h5> Hi <%= Current.user.username %> </h5>

    <h4> Users </h4>
    <%= turbo_stream_from 'users' %> <%# Este turbo_stream_from es el receptor de action cable para users cuando un user es creado, 'users' es el canal del cual esta recibira y luego esta el div con id mismo nombre donde se insertará %>
    <div id='users'>
      <%= render @users %> <%# Esto renderizara cada instancia dentro de @users (definida en rooms index) y renderizara por cada instancia el archivo _user.html.erb %>
    </div>

    <h4> Rooms </h4>
    <%= render partial: 'layouts/new_room' %>
    <%= turbo_stream_from 'rooms' %>
    <div id='rooms'>
      <%= render @rooms %>
    </div>
  </div>

  <div class='w-4/5 bg-slate-100'>
    <% if @single_room.present? %>
      <h4><%= @single_room.name %></h4>
      <div class='overflow-y-scroll h-[83vh]'>
        <%= turbo_stream_from @single_room %>
        <div id='messages'>
        <%= render @messages %>
        </div>
      </div>
      <%= render partial: 'layouts/new_message' %>
    <% end %>
  </div>
</div>
